body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 !important;
}
.encabezado {
  background-color: black;
  width: 100%;
  height: 80px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}
.img {
  height: 50px;
  width: auto;
  z-index: 2;
  margin: 0 auto;
  margin-left: 45px !important;
  margin-top: 12px;
  position: relative;
}
.nav {
  width: 600px;
  height: 70px;
  position: relative;
  margin-left: 200px;
  float: right;
  z-index: 2;
  color: white;
}
.nav p {
  margin-top: 23px;
  margin-left: 6%;
  float: left;
}
a {
  margin-top: 17px;
  margin-left: 6%;
  float: left;
}

.btnIniciarSesion {
  width: 125px;
  background-color: rgb(92, 92, 92);
  color: white;
  margin-top: 17px;
  margin-left: 6%;
  float: left;
  height: 50%;
  border-radius: 2em;
  border: none;
  outline: 2px solid rgb(92, 92, 92);
  outline-offset: 3px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btnIniciarSesion:hover {
  background: white;
  color: rgb(92, 92, 92) !important;
}

.efectoSubrayado {
  display: inline-block;
  position: relative;
  color: white;
}

.leftToRight::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.leftToRight:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

#carrusel-caja {
  -webkit-animation: automatizacion 10s infinite linear;
  animation: automatizacion 10s infinite linear;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  height: 500px;
  width: 300%;
}
#carrusel-contenido {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
}
.imagenes {
  height: 550px;
  width: 100%;
}
.carrusel-elemento {
  float: left;
  width: 33.333%;
}
@-webkit-keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

.accesoDirectoTienda {
  margin-top: -10px;
  background-color: black;
  width: 100%;
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tiendaMujer .imgTiendaMujer {
  margin-top: 40px;
  width: 350px;
  height: 500px;
  position: relative;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.textoEncima {
  position: absolute;
  top: 50%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  color: transparent;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.textoEncimaH {
  position: absolute;
  top: 50%;
  left: 81%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  color: transparent;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.imgTiendaMujer:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.tiendaMujer:hover .textoEncima {
  color: black;
}

.tiendaHombre .imgTiendaHombre {
  margin-top: 40px;
  width: 350px;
  height: 500px;
  position: relative;
  float: left;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.tiendaHombre:hover .textoEncimaH {
  color: black;
}

.imgTiendaHombre:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
h1 {
  text-align: center !important;
}
.footer {
  background-color: rgb(58, 55, 55);
  width: 100%;
  height: 180px;
  margin-top: -25px;

}
.contieneEnlaces {
  position: relative;
}
.enlacesFooter {
  color: white;
  text-decoration: none;
  margin-left: 10%;
  float: left;
}

.imgRedes {
  height: 25px;
  width: 25px;
}
.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.btn-wsp:hover {
  background: #fff;
  color: #20ba5a;
}
.recuadroRegister,
.recuadroRecup,
.recuadroLogin {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 30%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 1%;
}

/***** Section *****/
/*Perdon por la burrada
<!-- 
/***** End Section *****/
.cajas {
  float: right;
  margin-top: -35px; 
}
.btnRegister {
  width: auto;
}
.tengoCuenta {
  margin-left: 30%;
}
.titulo-tienda {
  width: 100%;
  height: 15%;
  text-align: center;
  border-bottom: 1px solid rgba(70, 69, 69, 0.322);
}

.categorias {
  margin: 4%;
  padding: 1em;
  width: 88%;
  height: 530px;
  overflow: hidden;
  
}
.item-cat-mujer {
  background-color: #20ba5a;
  width: 19%;
  height: 450px;
  margin: 1em;
  padding: 1.2em;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  overflow: hidden;
  display: inline-block;
  transition: 1s;
  text-decoration: none;
}
.item-cat-mujer:hover{
  -webkit-filter: blur(5px);
         filter: blur(5px);
}
#texto {
  background-color: red;
  margin-top: 100%;
  transition: 1s;
  color: #fff;
  text-shadow:0 0 10px black;
}
#remeras {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/09/A222210027-Remera-90s-Baby-Blanco.jpg);
}
#jeans {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/09/A222220029-Jean-Push-Up-Enterprise-frente.jpg);
}
#shorts {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/10/A222219005-Short-Heart-frente.jpg);
}
#abrigos {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/08/A222230001-Campera-Fantastic.jpg);
}
#remeraStars {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/08/A122210010-Remera-Stars-RosaLavanda.jpg);
}
#remeraJustina {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/09/A222210022-Remera-Justina-Crudo.jpg);
}
#remeraPositive {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/10/A222210031-Remera-Positive-Verde.jpg);
}
#remeraPotential {
  background-image: url(https://afjeans.ar/wp-content/uploads/2022/09/A222210030-Remera-Potential-Coral.jpg);
}
